In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, root_mean_squared_error

In [3]:
df = pd.read_csv('eda_stud.csv')
df.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average_score
0,0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [4]:
df.drop(['Unnamed: 0', 'math score', 'reading score', 'writing score', 'total_score'], axis=1, inplace=True)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,average_score
0,female,group B,bachelor's degree,standard,none,72.666667
1,female,group C,some college,standard,completed,82.333333
2,female,group B,master's degree,standard,none,92.666667
3,male,group A,associate's degree,free/reduced,none,49.333333
4,male,group C,some college,standard,none,76.333333

In [5]:
X = df.drop('average_score', axis=1)
X.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed

In [6]:
y = df['average_score']
y.head(2)

0    72.666667
1    82.333333
Name: average_score, dtype: float64

In [7]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder', oh_transformer, cat_features),
        ('StandardScaler', numeric_transformer, num_features)
    ]
)

In [8]:
X = preprocessor.fit_transform(X)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((800, 17), (200, 17))

In [16]:
def evaluate_model(true_val, pred):
    mae = mean_absolute_error(true_val, pred)
    mse = mean_squared_error(true_val, pred)
    rmse = root_mean_squared_error(true_val, pred)
    r2score = r2_score(true_val, pred)
    return mae, mse, rmse, r2score

In [20]:
models = {
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list = []

for model_name, model in models.items():
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_mse, model_train_rmse, model_train_r2score = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2score = evaluate_model(y_test, y_test_pred)

    print(model_name)

    print("Model Performance for training data:")
    print(f"MAE: {model_train_mae}")
    print(f"MSE: {model_train_mse}")
    print(f"RMSE: {model_train_rmse}")
    print(f"r2_score: {model_train_r2score}")
    print("\nModel Performance for test data:")
    print(f"MAE: {model_test_mae}")
    print(f"MSE: {model_test_mse}")
    print(f"RMSE: {model_test_rmse}")
    print(f"r2_score: {model_test_r2score}")

    print('-' * 100)

LinearRegression
Model Performance for training data:
MAE: 9.936148125223085
MSE: 148.73411091286988
RMSE: 12.195659511189621
r2_score: 0.2542766113591751

Model Performance for test data:
MAE: 10.490182720909907
MSE: 179.60236164577393
RMSE: 13.40158056520849
r2_score: 0.16217176755435947
----------------------------------------------------------------------------------------------------
Lasso
Model Performance for training data:
MAE: 10.562460206922374
MSE: 174.14606922063626
RMSE: 13.196441536286828
r2_score: 0.12686608296755275

Model Performance for test data:
MAE: 11.088571930238363
MSE: 199.7639154545523
RMSE: 14.133786309922487
r2_score: 0.06812000322242906
----------------------------------------------------------------------------------------------------
Ridge
Model Performance for training data:
MAE: 9.935546305387472
MSE: 148.73516226818882
RMSE: 12.19570261478152
r2_score: 0.2542713400717328

Model Performance for test data:
MAE: 10.492944628390605
MSE: 179.65066580419872
RMSE: 13.403382625449396
r2_score: 0.16194643316954416
----------------------------------------------------------------------------------------------------
KNeighborsRegressor
Model Performance for training data:
MAE: 9.543083333333334
MSE: 136.9075277777778
RMSE: 11.700749026356295
r2_score: 0.31357275800242757

Model Performance for test data:
MAE: 11.967000000000002
MSE: 224.62233333333336
RMSE: 14.987405824002144
r2_score: -0.04784219305342541
----------------------------------------------------------------------------------------------------
Decision Tree
Model Performance for training data:
MAE: 8.621865534928036
MSE: 118.0421072006697
RMSE: 10.864718459337531
r2_score: 0.4081602421682945

Model Performance for test data:
MAE: 11.863333573833575
MSE: 231.3026607014759
RMSE: 15.208637700381843
r2_score: -0.07900529591978911
----------------------------------------------------------------------------------------------------
Random Forest Regressor
Model Performance for training data:
MAE: 8.790017823522783
MSE: 119.51694532053033
RMSE: 10.932380587984042
r2_score: 0.40076569579497867

Model Performance for test data:
MAE: 11.553424928020814
MSE: 222.501258359092
RMSE: 14.916476070409256
r2_score: -0.03794757652238978
----------------------------------------------------------------------------------------------------
XGBRegressor
Model Performance for training data:
MAE: 8.624491305351258
MSE: 118.04415076733585
RMSE: 10.864812504932418
r2_score: 0.4081499961295759

Model Performance for test data:
MAE: 11.783974901835125
MSE: 229.47065901498223
RMSE: 15.148288979781915
r2_score: -0.07045917926092415
----------------------------------------------------------------------------------------------------
AdaBoost Regressor
Model Performance for training data:
MAE: 10.104110555713559
MSE: 154.29656482972428
RMSE: 12.421616836375378
r2_score: 0.2263875685661263

Model Performance for test data:
MAE: 10.818447511336824
MSE: 194.2093716261375
RMSE: 13.935902253752268
r2_score: 0.09403143108539402
----------------------------------------------------------------------------------------------------