In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, root_mean_squared_error

In [2]:
df = pd.read_csv('eda_stud.csv')
df.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,72,72,74
1,1,female,group C,some college,standard,completed,69,90,88
2,2,female,group B,master's degree,standard,none,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,47,57,44
4,4,male,group C,some college,standard,none,76,78,75

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
X = df.drop('math score', axis=1)
X.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88

In [5]:
y = df['math score']
y.head(2)

0    72
1    69
Name: math score, dtype: int64

In [6]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder', oh_transformer, cat_features),
        ('StandardScaler', numeric_transformer, num_features)
    ]
)

In [7]:
X = preprocessor.fit_transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

In [9]:
def evaluate_model(true_val, pred):
    mae = mean_absolute_error(true_val, pred)
    mse = mean_squared_error(true_val, pred)
    rmse = root_mean_squared_error(true_val, pred)
    r2score = r2_score(true_val, pred)
    return mae, mse, rmse, r2score

In [10]:
models = {
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list = []

for model_name, model in models.items():
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_mse, model_train_rmse, model_train_r2score = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2score = evaluate_model(y_test, y_test_pred)

    print(model_name)

    print("Model Performance for training data:")
    print(f"MAE: {model_train_mae}")
    print(f"MSE: {model_train_mse}")
    print(f"RMSE: {model_train_rmse}")
    print(f"r2_score: {model_train_r2score}")
    print("\nModel Performance for test data:")
    print(f"MAE: {model_test_mae}")
    print(f"MSE: {model_test_mse}")
    print(f"RMSE: {model_test_rmse}")
    print(f"r2_score: {model_test_r2score}")

    print('-' * 100)

LinearRegression
Model Performance for training data:
MAE: 4.266711846071957
MSE: 28.33487038064859
RMSE: 5.323050852720514
r2_score: 0.8743172040139593

Model Performance for test data:
MAE: 4.21476314247485
MSE: 29.095169866715487
RMSE: 5.393993869732843
r2_score: 0.8804332983749565
----------------------------------------------------------------------------------------------------
Lasso
Model Performance for training data:
MAE: 5.206302661246526
MSE: 43.47840400585579
RMSE: 6.593815587795566
r2_score: 0.8071462015863456

Model Performance for test data:
MAE: 5.157881810347763
MSE: 42.5064168384116
RMSE: 6.519694535667419
r2_score: 0.8253197323627853
----------------------------------------------------------------------------------------------------
Ridge
Model Performance for training data:
MAE: 4.26498782372598
MSE: 28.33778823308244
RMSE: 5.323324922741654
r2_score: 0.8743042615212909

Model Performance for test data:
MAE: 4.211100688014261
MSE: 29.056272192348302
RMSE: 5.390387016935639
r2_score: 0.8805931485028737
----------------------------------------------------------------------------------------------------
KNeighborsRegressor
Model Performance for training data:
MAE: 4.516749999999999
MSE: 32.57765
RMSE: 5.707683417990174
r2_score: 0.8554978341651085

Model Performance for test data:
MAE: 5.621
MSE: 52.6066
RMSE: 7.253040741647602
r2_score: 0.7838129945787431
----------------------------------------------------------------------------------------------------
Decision Tree
Model Performance for training data:
MAE: 0.01875
MSE: 0.078125
RMSE: 0.2795084971874737
r2_score: 0.9996534669718089

Model Performance for test data:
MAE: 6.635
MSE: 69.325
RMSE: 8.326163582346915
r2_score: 0.7151086717098494
----------------------------------------------------------------------------------------------------
Random Forest Regressor
Model Performance for training data:
MAE: 1.8317105654761903
MSE: 5.275743963382228
RMSE: 2.2968987708173443
r2_score: 0.9765987899956232

Model Performance for test data:
MAE: 4.641779166666667
MSE: 36.30814623263889
RMSE: 6.025624136356241
r2_score: 0.8507915469459859
----------------------------------------------------------------------------------------------------
XGBRegressor
Model Performance for training data:
MAE: 0.687466561794281
MSE: 1.0146163702011108
RMSE: 1.0072816610336304
r2_score: 0.9954995512962341

Model Performance for test data:
MAE: 5.057730674743652
MSE: 41.90370559692383
RMSE: 6.473307132720947
r2_score: 0.8277965784072876
----------------------------------------------------------------------------------------------------
AdaBoost Regressor
Model Performance for training data:
MAE: 4.69172852401665
MSE: 33.122024902174736
RMSE: 5.7551737508241
r2_score: 0.8530831924585887

Model Performance for test data:
MAE: 4.809618573509067
MSE: 37.91083823296403
RMSE: 6.157177781497301
r2_score: 0.8442052786039358
----------------------------------------------------------------------------------------------------